miseq/data/generated_meta
miseq/data/meta
miseq/COI
miseq/.DS_Store
miseq/env/.DS_Store
miseq/.Rproj.user
miseq/scripts/archived_scripts
miseq/figures/
miseq/env/archived_envs
miseq/env/history_export 
miseq/COI_sample_data.txt
miseq/lulu.log_20251029_161734

novaseq/data/generated_meta
novaseq/COI/**
!novaseq/COI/**/
!novaseq/COI/**/README.md
novaseq/.DS_Store
novaseq/scripts/.DS_Store
novaseq/.Rproj.user
novaseq/figures/
novaseq/novaseq_koster_2022_2023

novaseq/.DS_Store
post-processing/.DS_Store
novaseq/data/.DS_Store
.DS_Store
.vscode

lulu.log_20260112_140629

**/.DS_Store

openarms_container.def
